[Unit]
Description=WiFi Configuration Helper
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/genmonpi/WiFiConnect/wificonnect.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
